{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Entry</title>
</head>
<body>

    {% block header %}
        <h3>
            <a href="{% url 'topic' topic.id %}">{{topic}}</a>
        </h3>
    {% endblock header %}

    {% block content %}

        <p>Editar Anotação:</p>

        <form action="{% url 'edit_entry' entry.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button name="submit" class="btn btn-block">Salvar</button>
        </form>
    {% endblock content %}
</body>
</html>