<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>
    {% extends "learning_logs/base.html" %}

    {% block header %}
        <div class="container">
            <h1 class="display-4">Acompanhe seu Aprendizado</h1>
        </div>
    {% endblock header %}

    {% block content %}
        <h5><a href="{% url 'register' %}">Crie uma conta</a> para utilizar o Learning Log!</h5>
    {% endblock content %}
</body>
</html>