{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block header %}
        <h3>{{ topic }}</h3>
    {% endblock header %}

    {% block content %}

        <p>
            <a href="{% url 'new_entry' topic.id %}">Adicione uma nova anotação</a>
        </p>

  
            {% for entry in entries %}
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            {{entry.data_added | date:'M d, Y H:i'}}
                                <small><a href="{% url 'edit_entry' entry.id %}">Editar</a></small>
                        </h3>
                    </div>
                    <div class="panel-body">{{entry.descricao | linebreaks}}</div>
                </div>  
                
            {% empty %}
                Não há registros adicionados para esse tópico
            {% endfor %}
       

    {% endblock content %}
</body>
</html>