{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Entry</title>

</head>
<body>

    {% block header %}
        <h4>Criar Conta</h4>
    {% endblock header %}

    {% block content %}

        {% if form.errors %}
            <p style="color: red; font-weight: 400;">* O nome de usuário não pode ter caracteres especiais!</p>
            <p style="color: red; font-weight: 400;">* A senha deve conter no mínimo 8 caracteres!</p>
        {% endif %}

        <form action="{% url 'register' %}" method="post" class="ul-nome form">
            {% csrf_token %}
            {% bootstrap_form form %}

            <button name="submit" class="btn btn-primary">Registrar</button>
            <input type="hidden" name="next" value="{% url 'index' %}"/>
        </form>

    {% endblock content %}
</body>
</html>